@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div id="Events">
    <table id="TblEvents" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Type d'evennement</th>
                <th>Url de fichier</th>
                <th>Data de modification</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>

    </table>
</div>